
.modal {
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    overflow: hidden;
    .header {
        color: white;
        background: #4f005f;
        padding: 1rem;
        width: 100%;
        h2 {
            margin: 0;
            color: white;
        }
    }
    .body {

    }
}

.content {
    padding: 1rem;
}
.actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.backdrop {

}

@media (min-width: 768px) {
.modal {
        left: calc(50% - 20rem);
        width: 40rem;
    }
}
